.btn_container {
  margin: 10px;
  padding: 5px;
}
.video_container {
  display: block;
}

.video {
  display: block;
  background-color: beige;
  margin-left: 10px;
}
.video .video_title {
  background-color: red;
}
.video .video_source {
  background-color: black;
}
